/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #1B1B1B;
  height: 250px;
}

.main{
    width: 100%;
}

.carousel-cell {
  /* background-image: url(/img/peracejakison.svg); */
  width: 200px;
  height: 250px;
  margin-right: 10px;
  background: rgb(145, 255, 176);
  border-radius: 5px;
  border: 1.5px;
}

